<div class="blog-header" data-ng-init="find()">
    <h1 class="blog-title">The Green Pioneer Blog</h1>
    <p class="lead blog-description">An example template of creating a blog with Mean.</p>
</div>
<div class="row">
    <div class="col-sm-8 blog-main">
        <p data-ng-show="!blogs[0]">No blog posts.  <a ui-sref="create">Create one now?</a></p>
        <div class="blog-post" ng-repeat="(key, value) in blogs"> <!-- NG REPEAT ttps://docs.angularjs.org/api/ng/directive/ngRepeat -->
            <a ui-sref="view({blogId:value._id})"><h2 class="blog-post-title">{{value.title}}</h2></i></a>
            <p class="blog-post-meta">Created on: {{value.created | date:'MM/dd/yyyy'}} by {{value.author}}</p>
            <p>{{value.content}}</p>
        </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
    <div ng-include="'partials/sidebar.html'"></div><!-- /.blog-sidebar -->
</div><!-- /.row -->